$tablet-width: 768px;
$desktop-width: 1290px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-white: #ffffff;
$bg-black: #000000;
$bg-gray: #474351;
$bg-light-grey: #e5e5e5;
$orange-tone: #f25b24;
$grey-blue: #2e2d35;
$bg-advantages-item: #f6f5f9;
$bg-form-input: #dddae7;
$bg-form-placeholder: #918d9a;
